<div id="articles" class="jumbotron shadow mt-3 mb-5 w-50 bg-white rounded col-md-6">
    {{#each dbArticles}}
        <div class="mt-2 mb-4 border-bottom border-thickness">
            <img src = {{image}}>
            <h3 id={{_id}}>{{title}}</h3>
            <h5>By {{author}}</h5>
            <p>{{summary}}</p>
            <button type="button" class = "btn btn-primary btn-sm mb-4"><a href={{article_url}} class = "text-light" target="_blank">Article Link</a></button>
            <button id="note-btn" data-id={{_id}} type="button" class="btn btn-primary btn-sm mb-4 shadow">Add Note</button>
            {{#if saved}}
                <button id="unsave-btn" data-id={{_id}} type="button" class="btn btn-danger btn-sm mb-4 shadow">Unsave Article</button>
            {{else}}
                <button id="save-btn" data-id={{_id}} type="button" class="btn btn-danger btn-sm mb-4 shadow">Save Article</button>
                <button id="remove-unsaved" data-id={{_id}} type="button" class="btn btn-danger btn-sm mb-4 shadow">Remove</button>
        {{/if}}        
    </div>
    {{else}}
        <h3>Click the 'Scrape Articles' button to pull up articles.</h3></br>
        <p class="text-center">All articles from Kotaku</p>
    {{/each}}

</div>